# App
APP_NAME=sendmemes-discord-bot
APP_VERSION=1.0.0
# HTTP settings
HTTP_PORT=8080
HTTP_USE_PREFORK_MODE=false
# Logger
LOG_LEVEL=debug

PG_POOL_MAX=2
# DB: set PG_URL directly, or use shared_env (POSTGRES_*) and config will build PG_URL
POSTGRES_USER=admin
POSTGRES_PASSWORD=your_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=sendmemes
POSTGRES_SSL_MODE=disable
# Discord
DISCORD_TOKEN=your_bot_token
DISCORD_APPLICATION_ID=your_application_id
DISCORD_GUILD_ID=your_guild_id
DISCORD_CHANNEL_ID=your_channel_id
#pcloud
PCLOUD_SECRET=your_pcloud_secret
CLOUD_MAIN_FOLDER_ID=your_main_folder_id

